.post {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    margin: 2.5rem 0;

    strong {
      font-weight: 700;
      font-size: 1.75rem;
    }

    p {
      margin: 1rem 0;
    }

}
.footer {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

